<template>
    <div class="content categories">

        <nav class="content-menu">
            <template v-for="(category,index) in categories">

                <a class="item" @click="show(index)" :class="{it: index === categoryIndex && !categorySubIndex >= 0}"
                >{{category.name}}</a>

                <a class="item sub"
                   v-for="(sub, indexSub) in category.subs"
                   :class="{it: index === categoryIndex && indexSub === categorySubIndex}"
                   @click="subShow(index, indexSub)"
                >{{sub.name}}</a>

            </template>
        </nav>

        <div class="content-data">
            <div class="data-do">
                <button @click="create"> + main</button>
                <button @click="createSub" v-if="categoryData.type !== 'sub'">+ sub</button>

                <button @click="currentSave">save</button>
            </div>
            <div class="item">
                <form-cmp
                    :entity="'category'"
                    :data-set="categoryData"
                    :data-hint="entityHints"
                    :data-errors="apiErrors"
                    :note="apiResponse"
                ></form-cmp>
            </div>
        </div>

    </div>
</template>

<script>
import entity from '../forms/entities/Category';
import entityHints from '../forms/entities/CategoryDataHint';
import axios from 'axios'
export default {
    name: "categories-cmp",
    props: {
        categoriesInit: {type: Array, default: ()=>{return{}}},
    },
    data(){return{
        categoryIndex: 0,
        entityHints,
        categorySubIndex: undefined,
        categories: this.categoriesInit.slice(),

        apiResponse: {message: '', status: 0},
        apiErrors: {}

    }},
    methods: {
        show(index){
            this.categorySubIndex = undefined;
            this.categoryIndex = index;
        },
        subShow(index, indexSub){
            this.categoryIndex = index;
            this.categorySubIndex = indexSub;
        },
        create(){
            this.categories.push(entity.createMain());
            this.categoryIndex = this.categories.length - 1;
            this.categorySubIndex = undefined;
        },
        createSub(){
            this.categoryData.subs.push(entity.createSub({over_id:this.categoryData.id}));
            this.categorySubIndex = this.categoryData.subs.length - 1;
        },
        currentSave(){
            let category = this.categoryData;

            axios.post('/adm/category',{category})
                .then(response => {

                    const keys = Object.keys(response.data.dataset);

                    for (let val of keys) {
                        category[val] = response.data.dataset[val];
                    }
                    this.apiResponse.message = response.data.message;
                    this.apiResponse.status = response.status;
                })
                .catch(error => {
                    this.apiResponse.status = error.response.status;
                    this.apiResponse.message = error.response.data.message;
                    if (error.response.status === 422) {
                        this.apiErrors = error.response.data.errors;
                    }
                });
        }
    },
    computed: {
        categoryData(){
            if (this.categorySubIndex >= 0) {
                return this.categories[this.categoryIndex].subs[this.categorySubIndex];
            } else {
                return this.categories[this.categoryIndex];
            }
        },
    }
}
</script>
