<template>
    <div class="content products">

        <nav class="content-nav">
            <template v-for="(category,index) in categories">
                <a class="nav-link"
                   :class="{it: index === categoryIndex && !categorySubIndex >= 0}"
                   @click="show(index)"
                >{{category.name}}</a>
                <a class="nav-link sub"
                   :class="{it: index === categoryIndex && indexSub === categorySubIndex}"
                   v-for="(sub, indexSub) in category.subs"
                   @click="subShow(index, indexSub)"
                >{{sub.name}}</a>
            </template>
        </nav>

        <div class="content-data">
            <div class="data-do">
                <button @click="itemCreate"> + product</button>
            </div>

            <div class="item" v-for="item in categoryItems">
                <form-cmp :entity="'product'" :data-set="item" :data-hint="entityHints" :data-errors="apiErrors" :note="apiResponse">
                    <template slot="acts">
                        <button @click="itemSave(item)">Save</button>
                    </template>
                </form-cmp>
            </div>

        </div>
    </div>
</template>

<script>
import axios from 'axios';
import entity from '../forms/entities/Product';
import entityHints from '../forms/entities/ProductDataHint';
export default {
    name: "products-cmp",
    props: {
        categories: {type: Array},
    },
    data(){return{
        categoryIndex: 0,
        categorySubIndex: undefined,
        entityHints,

        apiResponse: {message: '', status: 0},
        apiErrors: {}
    }},
    methods: {
        show(index){
            this.categorySubIndex = undefined;
            this.categoryIndex = index;
        },
        subShow(index, indexSub){
            this.categoryIndex = index;
            this.categorySubIndex = indexSub;
        },
        itemSave(item){
            axios.post('/adm/product',{item})
                .then(response => {

                    const keys = Object.keys(response.data.dataset);

                    for (let val of keys) {
                        item[val] = response.data.dataset[val];
                    }
                    this.apiResponse.message = response.data.message;
                    this.apiResponse.status = response.status;
                })
                .catch(error => {
                    this.apiResponse.status = error.response.status;
                    this.apiResponse.message = error.response.data.message;
                    if (error.response.status === 422) {
                        this.apiErrors = error.response.data.errors;
                    }
                });
        },
        itemCreate(){
            let cat;
            if (this.categorySubIndex >= 0) {
                cat = this.categories[this.categoryIndex].subs[this.categorySubIndex];
            } else {
                cat = this.categories[this.categoryIndex];
            }
            cat.items.push(entity.create({category_id: cat.id}));
            this.$forceUpdate();
        }
    },
    computed: {
       categoryItems: function () {
           let tmpArr, categoriesSub;

           categoriesSub = this.categories[this.categoryIndex].subs;
           if (this.categorySubIndex >= 0) {
               return categoriesSub[this.categorySubIndex].items;
           } else {
               tmpArr = [];
               for (let iSub = 0; iSub < categoriesSub.length; iSub++) {
                   for (let iItem = 0; iItem < categoriesSub[iSub].items.length; iItem++) {
                       tmpArr.push(categoriesSub[iSub].items[iItem]);
                   }
               }
               return tmpArr;
           }
        }
    }
}
</script>
