<template>
    <svg-btn :class="on.cssClass" :look="on" @click.native="stateSwitch" v-if="state"/>
    <svg-btn :class="off.cssClass" :look="off" @click.native="stateSwitch" v-else/>
</template>

<script>
export default{
    props:{
        on: {type: Object},
        off: {type: Object},
        value: {type: Boolean, default: false}
    },
    data(){return{
        state: this.value,
    }},
    methods:{
        stateSwitch(){
            this.state = !this.state;
        }
    },
    watch:{
        state(){
            this.$emit('input',this.state);
        }
    }
}
</script>
