<template>
<a class="svg-button">
    <vue-svg :ico="look.ico"/>
    <span>{{look.text}}</span>
</a>
</template>

<script>
export default {
    props: {
        look: {type: Object},
    },
}
</script>
