<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" :class="[ico]">
        <component :is="ico"></component>
    </svg>
</template>

<script>
import svgDelete from './ico-cross'
export default {
    components: {svgDelete},
    props: {
        ico: {type: String, default: null},
    }
}
</script>
