<template>
<div class="data-field str" :class="field.marks">
    <div class="acts">
        <label>{{field.label}}</label> <mark-list :marks="field.marks"/>
    </div>
    <input v-model="valueData" type="text">
</div>
</template>

<script>
import {dataField} from '../prototypes';
export default {
    mixins:[dataField],
}
</script>
