<template>
<div class="data-field url-view" :class="field.marks">
    <label>{{field.label}}:</label> <a :href="value.href" :target="value.target">{{value.text}}</a>
</div>
</template>

<script>
import {dataView} from '../prototypes';
export default {
    mixins:[dataView],
}
</script>
