<template>
<div class="data-field view" :class="field.marks">
    <label>{{field.label}}</label>: <span>{{value}}</span>
</div>
</template>

<script>
import {dataView} from '../prototypes';
export default{
    mixins:[dataView],
}
</script>
