<template>
<div class="bundle-item">
    <img class="bundle-item-img" :alt="files[0].alt" :title="files[0].title" :src="files[0].url">
</div>
</template>

<script>
export default {
    props: {
        files: {},
        bundle: {type: Object},
    }
}
</script>
