<template>
<div class="bundle-list">
    <template v-for="file of files">
        <img class="bundle-item image" :alt="file.alt" :title="file.title" :src="file.url">
    </template>
    <div class="bundle-item add" v-if="bundle.count.max > files.length" v-on:click="imageAddSwitch">
        +
    </div>
</div>
</template>

<script>
export default {
    props: {
        bundle: {type: Object},
        files: {},
    },
    data(){return{
        imageAddState: false
    }},
    methods:{
        imageAddSwitch() {
            this.imageAddState = !this.imageAddState
        }
    }
}
</script>
