<template>
<div class="data-form-cmp">
    <template v-for="prop of fieldsNames">
        <component :is="fields[prop].component" :field="fields[prop]" v-model="dataset[prop]"></component>
    </template>
</div>
</template>

<script>
export default{
    props:{
        fields: {type: Object},
        dataset: {type: Object}
    },
    data(){return{
        fieldsNames: Object.keys(this.fields)
    }}
}
</script>
