@import "import"

svg
    +size-square(20px)

.acts
    flex-basis: 100%
    display: flex
    align-items: center
    label
        padding-right: 15px
        font-size: 1.2rem
    button, a
        height: 25px
        min-width: 80px

        margin: 0 2px

        color: #fafafa
        background-color: #42444b
        border: none
        border-radius: 2px

        +font-jura
        text-transform: uppercase

        transition: 300ms all

        cursor: pointer
        &:hover
            background-color: #585858
