@import "import"
//all
*, *:before, *:after
    -webkit-box-sizing: inherit
    -moz-box-sizing: inherit
    box-sizing: inherit
    color: $clr-f-text

//main
html
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    height: 100%

body
    margin: 0
    height: 100%

.app
    display: flex
    flex-direction: column
    height: 100%

//text
p
    margin: 0

.site-footer
    height: 30px
    color: #fff
    background-color: $clr-drk-bg
    padding: 5px 15px
    display: flex
    align-items: center
    border-top: $brd-themes

