<template>
    <div class="mark-fields">
        <template v-for="mark of marks">
            <comment :is="`${mark}-mark`"></comment>
        </template>
    </div>
</template>

<script>
export default {
    props: {
        marks: {type: Array, default: ()=>{return []}}
    }
}
</script>
