@import "../import";

.content {
    flex: 1;
    display: flex;
    &.page {
        @include content-place;
        margin: 0 10%;
        padding: 0 15px;
    }
    &.page.images {
        display: block;
    }
}

.content-data {
    @include content-place;
    max-width: 1200px;
    flex-basis: 100%;
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
    font-family: 'Tenor Sans', sans-serif;
    header {
        margin: 15px;
        h1 {
        }
    }
    section {
        p {
            margin: 0 15px;
        }
    }
    footer {
        padding: 0 15px;
    }
    .content-info {
        display: flex;
        .content-text {

        }
    }
    .content-gallery {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .gallery-item {
            width: 200px;
            height: 200px;
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }
        img {
            display: none;
        }
        .gallery-big {
            max-width: 600px;
        }
        .gallery-preview {
            margin-left: 5px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .item {
        @include content-item();
        .item-link {
            font-weight: 600;
            color: $clr-f-red-opt;
            display: inline-block;
            margin-bottom: 5px;
            font-size: 1rem;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .item-note {

        }
    }
}
