.content-data {
    display: flex;
    flex-direction: column;
    .art-text {
        flex: 1;
        p {
            margin-top: 10px;
        }
    }
    .art-footer {
        display: flex;
        justify-content: end;
    }
    .art-time {
        font-size: .8rem;
        opacity: .3;
    }
}
