@import '../import'

=nav-link
    font-size: 1.2rem
    text-decoration: none
    cursor: pointer
    +font-jura
    color: $clr-drk-text
    transition: 0.5s all ease

.nav-top
    background-color: $clr-drk-bg
    padding: 0 15px
    border-bottom: $brd-themes
    .nav-link
        +nav-link
        display: inline-block
        margin: 0
        padding: 15px
        &:hover
            background-color: rgba(222,27,27,0.3)

.content-nav
    flex: 1 0 auto
    width: 260px
    max-width: 260px
    +font-jura
    background-color: $clr-drk-bg
    .nav-link
        +nav-link
        display: block
        padding: 5px 10px 5px 5px
        border: 1px solid transparent
        &.it
            color: $clr-drk-hover-text
            border-bottom-color: $clr-drk-hover-text
        &.sub
            padding-left: 20px
        &.it.sub
            color: $clr-drk-hover-text
            border-bottom-color: rgba(0,0,0,0)
        &:hover
            background-color: $clr-drk-hover-bg
