*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: #2c2e35;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

p {
  margin: 0;
}

.site-footer {
  height: 30px;
  color: #fff;
  background-color: #2a2a2a;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 3px rgba(222, 27, 27, 0.5);
}

.nav-top {
  background-color: #2a2a2a;
  padding: 0 15px;
  border-bottom: solid 3px rgba(222, 27, 27, 0.5);
}

.nav-top .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  color: #fff;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  display: inline-block;
  margin: 0;
  padding: 15px;
}

.nav-top .nav-link:hover {
  background-color: rgba(222, 27, 27, 0.3);
}

.content-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 260px;
  max-width: 260px;
  font-family: 'Jura', sans-serif;
  background-color: #2a2a2a;
}

.content-nav .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  color: #fff;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  display: block;
  padding: 5px 10px 5px 5px;
  border: 1px solid transparent;
}

.content-nav .nav-link.it {
  color: #d2ce80;
  border-bottom-color: #d2ce80;
}

.content-nav .nav-link.sub {
  padding-left: 20px;
}

.content-nav .nav-link.it.sub {
  color: #d2ce80;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.content-nav .nav-link:hover {
  background-color: #585858;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content.page {
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10%;
  padding: 0 15px;
}

.content.page.images {
  display: block;
}

.content-data {
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  font-family: 'Tenor Sans', sans-serif;
}

.content-data header {
  margin: 15px;
}

.content-data section p {
  margin: 0 15px;
}

.content-data footer {
  padding: 0 15px;
}

.content-data .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-data .content-gallery {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-data .content-gallery .gallery-item {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.content-data .content-gallery img {
  display: none;
}

.content-data .content-gallery .gallery-big {
  max-width: 600px;
}

.content-data .content-gallery .gallery-preview {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-data .item {
  padding: 10px 10px 3px 10px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content-data .item .item-link {
  font-weight: 600;
  color: darkred;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1rem;
  text-decoration: none;
}

.content-data .item .item-link:hover {
  text-decoration: underline;
}

.content-data {
  width: 85%;
  max-width: 85%;
  padding: 10px;
}

.data-form-cmp {
  margin-top: 5px;
}

.data-field input {
  display: block;
  width: 100%;
}

.data-field.view {
  display: inline-block;
  padding: 5px 0;
}

.data-field.view label {
  font-weight: bold;
}

.data-field.view + .data-field.view {
  margin-left: 5px;
}

.mark-fields {
  margin-left: auto;
}

h1 {
  margin: 0;
  color: #484A51;
  font-size: 2.5rem;
  font-family: 'Pangolin', cursive;
  letter-spacing: .1rem;
}

h2 {
  margin: 0;
  color: #484A51;
  font-size: 2rem;
  font-family: 'Pangolin', cursive;
  opacity: 0.8;
}

.svg-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg-button span {
  color: #fafafa;
  font-size: 12px;
}

.svg-button svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.svg-button.ico {
  background-color: #2a2a2a;
  height: auto;
  padding: 5px;
  min-width: initial;
}

.svg-button.ico:hover {
  background-color: rgba(42, 42, 42, 0.9);
}

.svg-button.ico svg {
  margin: 0;
}

.act-delete svg {
  fill: red;
}

.act-save svg {
  width: 20px;
  height: 20px;
  fill: goldenrod;
}

.act-edit svg {
  width: 16px;
  height: 16px;
  fill: goldenrod;
}

.act-view svg {
  fill: cornflowerblue;
}

svg {
  width: 20px;
  height: 20px;
}

.acts {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acts label {
  padding-right: 15px;
  font-size: 1.2rem;
}

.acts button,
.acts a {
  height: 25px;
  min-width: 80px;
  margin: 0 2px;
  color: #fafafa;
  background-color: #42444b;
  border: none;
  border-radius: 2px;
  font-family: 'Jura', sans-serif;
  text-transform: uppercase;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  cursor: pointer;
}

.acts button:hover,
.acts a:hover {
  background-color: #585858;
}

.content.products .field.created_at {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.content.products .field.updated_at {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.content.products .field.id {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.content.products .field.name {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.content.products .acts {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.content.products .file-bundles {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.file-cmp {
  width: 100%;
}

.file-cmp > * {
  margin-top: 15px;
}

.files-grid {
  display: grid;
}

.files-grid .image-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 300px;
  height: 300px;
  cursor: pointer;
}

.files-grid .image-preview img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.files-grid .image-preview:hover img {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  z-index: 1;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.files-grid.view {
  grid-template-columns: repeat(5, 1fr);
}

.files-grid.edit {
  grid-template-columns: 100%;
  grid-row-gap: 5px;
}

.files-grid.edit .files-image-cmp {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 5px;
}

.image-editor {
  padding: 10px 10px 3px 10px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-editor .act-delete {
  margin-left: auto;
}

.files-select-cpm {
  padding: 10px 10px 3px 10px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  font-size: .9rem;
  text-transform: uppercase;
}

.files-select-cpm:hover {
  background-color: rgba(221, 224, 255, 0.2);
}

.files-select-cpm.dragover {
  background-color: rgba(221, 224, 255, 0.2);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.files-select-cpm #filesInput {
  display: none;
}


/*# sourceMappingURL=adm.css.map*/