*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: #2c2e35;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

p {
  margin: 0;
}

.site-footer {
  height: 30px;
  color: #fff;
  background-color: #2a2a2a;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 3px rgba(222, 27, 27, 0.5);
}

.nav-top {
  background-color: #2a2a2a;
  padding: 0 15px;
  border-bottom: solid 3px rgba(222, 27, 27, 0.5);
}

.nav-top .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  color: #fff;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  display: inline-block;
  margin: 0;
  padding: 15px;
}

.nav-top .nav-link:hover {
  background-color: rgba(222, 27, 27, 0.3);
}

.content-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 260px;
  max-width: 260px;
  font-family: 'Jura', sans-serif;
  background-color: #2a2a2a;
}

.content-nav .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  color: #fff;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  display: block;
  padding: 5px 10px 5px 5px;
  border: 1px solid transparent;
}

.content-nav .nav-link.it {
  color: #d2ce80;
  border-bottom-color: #d2ce80;
}

.content-nav .nav-link.sub {
  padding-left: 20px;
}

.content-nav .nav-link.it.sub {
  color: #d2ce80;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.content-nav .nav-link:hover {
  background-color: #585858;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content.page {
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10%;
  padding: 0 15px;
}

.content.page.images {
  display: block;
}

.content-data {
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  font-family: 'Tenor Sans', sans-serif;
}

.content-data header {
  margin: 15px;
}

.content-data section p {
  margin: 0 15px;
}

.content-data footer {
  padding: 0 15px;
}

.content-data .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-data .content-gallery {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-data .content-gallery .gallery-item {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.content-data .content-gallery img {
  display: none;
}

.content-data .content-gallery .gallery-big {
  max-width: 600px;
}

.content-data .content-gallery .gallery-preview {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-data .item {
  padding: 10px 10px 3px 10px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content-data .item .item-link {
  font-weight: 600;
  color: darkred;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1rem;
  text-decoration: none;
}

.content-data .item .item-link:hover {
  text-decoration: underline;
}

.content-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-data .art-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-data .art-text p {
  margin-top: 10px;
}

.content-data .art-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.content-data .art-time {
  font-size: .8rem;
  opacity: .3;
}

ul li.sub {
  margin-left: 1rem;
}

h1 {
  margin: 0;
  color: #484A51;
  font-size: 2.5rem;
  font-family: 'Pangolin', cursive;
  letter-spacing: .1rem;
}

h2 {
  margin: 0;
  color: #484A51;
  font-size: 2rem;
  font-family: 'Pangolin', cursive;
  opacity: 0.8;
}

.content.home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.content.home img {
  max-width: 50%;
  max-height: 50%;
}


/*# sourceMappingURL=app.css.map*/