@import "../import"
@import "../mix/colors"

.svg-button
    +flex-center
    span
        color: $clr-content-data
        font-size: 12px
    svg
        +size-square(20px)
        margin-right: 5px
.svg-button.ico
    +clr-bg-hover($clr-light-bg, $clr-light-bg-hover)
    height: auto
    padding: 5px
    min-width: initial
    svg
        margin: 0

.act-delete
    svg
        fill: red
.act-save
    svg
        +size-square(20px)
        fill: goldenrod
.act-edit
    svg
        +size-square(16px)
        fill: goldenrod
.act-view
    svg
        fill: cornflowerblue
