@import "../import"

.data-form-cmp
    margin-top: 5px

.data-field
    input
        display: block
        width: 100%
.data-field.view
    display: inline-block
    padding: 5px 0
    label
        font-weight: bold
.data-field.view + .data-field.view
    margin-left: 5px
.mark-fields
    margin-left: auto

