@import "../import"

=form-font-editors
    font-family: 'Tenor Sans', sans-serif
    font-size: 1rem

$title-size: 20px

textarea
    width: 100%
    +form-font-editors
select
    width: 100%
    +form-font-editors
input
    display: block
    width: 100%
    +form-font-editors

.form-module
    display: flex
    flex-direction: row
    flex-wrap: wrap
    padding: 0 3px
    .message
        flex-basis: 100%
        align-self: stretch

        display: flex
        flex-direction: row
        align-items: center

        border-radius: 3px 0 0 3px
        transition: 1.5s all ease
        padding: 0 .75rem
        margin: 0 -13px 0 .75rem

        color: #721c24
        background-color: #f8d7da
        border-color: #f5c6cb

        +font-jura
        letter-spacing: .05rem
        word-wrap: break-word

    .field
        flex-basis: 100%
        margin: 3px 0
    .field.req:after
        content: '*'
        color: darkred
        margin-left: 3px

    .field.markdown
        .markdown-work
            display: flex
        .markdown-editor
            min-width: 50%
            margin-right: 5px
        .markdown-viewer
            min-width: 50%

    .field.id
        display: flex
        align-items: center
        flex-basis: 50px

        padding-right: 5px

    .field.name
        flex-basis: calc(100% - 55px)
    .field.time
        flex-basis: unset
        display: inline
        margin-right: .5rem
        font-size: .75rem

.file-bundles
    width: 100%
    display: flex
.file-bundle
    +content-item-has-title
    min-width: 113px
.file-bundle.bundle-type-list
    flex: 1
.file-bundle-title
    height: $title-size
    padding: 0 0 2px 5px
    color: #e6e6e6
    background-color: #636b6f
    text-transform: uppercase
.bundle-list
    display: flex
    flex-wrap: wrap
    height: 120px
    padding: 3px
.bundle-list.cover
    +flex-center
.bundle-item
    max-width: 120px
    height: calc(100% - 5px)
    max-height: calc(100% - 5px)

    border: solid 1px $clr-transparent
    border-radius: 5px

    background-color: $clr-content-data

    cursor: pointer
    &:hover
        border-color: $clr-content-border
.bundle-item + .bundle-item
    margin-left: 5px
.bundle-item.add
    +flex-center
    width: 100px
.bundle-item.image

//VIEW MODE
.form-module.view
    .bundle-item
        height: calc(100% - 5px)
        max-height: calc(100% - 5px)
