@import "../import"

h1
    margin: 0
    color: $clr-f-text1
    font-size: 2.5rem
    font-family: 'Pangolin', cursive
    letter-spacing: .1rem

h2
    margin: 0
    color: $clr-f-text1
    font-size: 2rem
    font-family: 'Pangolin', cursive
    opacity: 0.8
