.content.products
    .field.created_at
        order: 2
    .field.updated_at
        order: 2
    .field.id
        order: -2
    .field.name
        order: -2
    .acts
        order: -2
    .file-bundles
        order: -2
