@import "../import"
@import "../mix/colors"

.file-cmp
    width: 100%
    & > *
        margin-top: 15px
.files-grid
    display: grid
    .image-preview
        +flex-center
        position: relative
        max-width: 300px
        height: 300px
        cursor: pointer
        img
            min-width: 100%
            min-height: 100%
            max-width: 100%
            max-height: 100%
            object-fit: cover
            transition-property: all
            transition-duration: 500ms
    .image-preview:hover
        img
            position: absolute
            max-width: 500px
            max-height: 500px
            z-index: 1
            transition-property: all
            transition-duration: 500ms
.files-grid.view
    grid-template-columns: repeat(5,1fr)
.files-grid.edit
    grid-template-columns: 100%
    grid-row-gap: 5px
    .files-image-cmp
        display: grid
        grid-template-columns: 300px auto
        grid-column-gap: 5px
.image-editor
    +content-item
    .act-delete
        margin-left: auto

.files-select-cpm
    +content-item
    +flex-center
    height: 120px
    +action
    +font-jura
    font-size: .9rem
    text-transform: uppercase
    &.dragover
        background-color: $clr-hover-blue
        cursor: grabbing
    #filesInput
        display: none
