<template>
    <div class="files-select-cpm" :class="dragBoxCss"
         @dragover="dragOver"
         @dragleave="dragLeave"
         @drop="drop"
         @click="dialog">
        <span>Chang or Drag-and-drop files</span>
        <input id="filesInput" type="file" multiple v-on:change="change">
    </div>
</template>

<script>
import {dragAndDrop} from "../../vue/archetype/DragAndDropArchetype";
export default {
    mixins: [dragAndDrop],
    data(){return{
        afterDropFun: this.drop,
    }},
    methods: {
        drop(event){
            this.emit(event.dataTransfer.files);
        },
        change(event){
            this.emit(event.target.files);
        },
        dialog(){
            document.getElementById('filesInput').click();
        },
        emit: function (files){
            this.$emit('input', files);
        }
    },
}
</script>
