<template>
    <div class="file-cmp">
        <files-select-cmp @input="filesSelectInput"></files-select-cmp>

        <template v-if="filesNewExist">
            <div class="acts">
                <label>New Files</label>
                <svg-btn-switch v-model="state.filesNew.editOn" :on="editBtnLook" :off="viewBtnLook"/>
            </div>
            <div class="files-grid" :class="cssClasses.filesNew">
                <template v-for="file of filesNew">
                    <files-image :image="file" :editState="state.filesNew.editOn"/>
                </template>
            </div>
        </template>

        <template v-if="filesDbExist">
            <div class="acts">
                <label>DB Files</label>
                <svg-btn-switch v-model="state.filesDb.editOn" :on="editBtnLook" :off="viewBtnLook"/>
            </div>
            <div class="files-grid" :class="cssClasses.filesDb">
                <template v-for="file of filesDb">
                    <files-image :image="file" :editState="state.filesDb.editOn"/>
                </template>
            </div>
        </template>

    </div>
</template>

<script>
import SvgBntSwitch from "../../vue/svg/svg-btn-switch";
import {UserFileJs,UserFileDb} from './UserFileClasses'
export default {
    components: {SvgBntSwitch},
    props: {
        files: {type: Array, default: ()=>{return[]}},
    },
    data(){return{
        filesNew: [],
        filesDb: this.files.map(file => new UserFileDb({data:file, cmp: this})),
        editBtnLook: new this.make.ButtonLook({ico: 'ico-pencil', text: 'Edit', cssClass: 'act-edit'}),
        viewBtnLook: new this.make.ButtonLook({ico: 'ico-eye', text: 'View', cssClass: 'act-view'}),
        state:{
            filesDb: { editOn: false }, filesNew: { editOn: true }
        }
    }},
    methods: {
        filesSelectInput(files) {
            for (let file of files) {
                this.filesNew.push(new UserFileJs({uid: this.filesNew.length, data: file, cmp: this}));
            }
        },
        editSwitch() {
            this.editState = !this.editState;
        },
    },
    computed: {
        filesNewExist(){
            return this.filesNew.length > 0;
        },
        filesDbExist(){
          return this.files.length > 0;
        },
        cssClasses(){
            return {
                filesDb: {edit: this.state.filesDb.editOn, view: !this.state.filesDb.editOn},
                filesNew: {edit: this.state.filesNew.editOn, view: !this.state.filesNew.editOn}
            }
        }
    }
}
</script>
