<template>
<div class="files-image-cmp">
    <div class="image-preview">
        <img :src="image.link.src" :alt="image.alt" :title="image.title">
    </div>
    <div class="image-editor" v-if="editState">
        <div class="acts">
            <svg-btn class="act-save" :look="look.save" @click.native="image.save()"/>
            <svg-btn class="act-delete" :look="look.delete" @click.native="image.remove()"/>
        </div>
        <data-form :fields="userFileFields" :dataset="image"/>
    </div>
</div>
</template>

<script>
import userFileFields from './UserFileFields';
export default {
    props: {
        image: {type: Object},
        editState: {type: Boolean, default: false},
    },
    data(){return{
        userFileFields,
        look: {
            save: new this.make.ButtonLook({ico:'ico-database', text:'save'}),
            delete: new this.make.ButtonLook({ico:'ico-cross', text:'delete'}),
        },
    }},
}
</script>
