<template>
<div class="file-bundles">
    <div v-for="bundle in bundles" class="file-bundle" :class="[`bundle-type-${bundle.type}`]">
        <div class="file-bundle-title">{{bundle.bundle}}</div>
        <files-list :class="[bundle.bundle]" :bundle="bundle" :files="bundleFiles(bundle.bundle)"></files-list>
    </div>
</div>
</template>

<script>
import filesList from './files/list';
import entityFileBind from '../entities/entityFileBundle';
import {fieldPrototype} from '../prototypes/fieldPrototype';
export default {
    components: {filesList},
    mixins: [fieldPrototype],
    data(){return{
        bundles: entityFileBind[this.entity],
    }},
    methods: {
        bundleFiles(bundle)
        {
            return this.value.filter(it => it.pivot.bundle === bundle);
        }
    }
}
</script>
