<template>
    <div class="field markdown">
        <label class="lb">{{params.name}}</label> <span class="err">{{errorFirst}}</span>
        <div class="markdown-work">
            <textarea class="markdown-editor" v-model="val"></textarea>
            <markdown class="markdown-viewer" :source="val"></markdown>
        </div>
    </div>
</template>

<script>
import {fieldPrototype} from '../prototypes/fieldPrototype';
import Markdown from 'vue-markdown';
export default {
    mixins: [fieldPrototype],
    components: {Markdown}
}
</script>
