<template>
<div class="field num">
    <label class="lb">{{params.name}}</label> <span class="err">{{errorFirst}}</span>
    <input class="val" v-model="val" title="" type="number">
</div>
</template>

<script>
import {fieldPrototype} from '../prototypes/fieldPrototype';
export default {
    mixins: [fieldPrototype]
}
</script>
