<template>
    <div class="forms view">
        <span class="lb">{{params.name}}</span>: <span class="val">{{value}}</span>
    </div>
</template>

<script>
import {fieldPrototype} from "../prototypes/fieldPrototype";
export default {
    mixins: [fieldPrototype]
}
</script>
