<template>
<div class="field select">
    <label class="lb">{{params.name}}</label> <span class="err">{{errorFirst}}</span>
    <select v-model="val">
        <option v-for="it in params.list" :value="it.val">{{it.name}}</option>
    </select>
</div>
</template>

<script>
import {fieldPrototype} from '../prototypes/fieldPrototype';
export default {
    mixins: [fieldPrototype],
}
</script>
