<template>
<div class="field text">
    <label class="lb">{{params.name}}</label> <span class="err">{{errorFirst}}</span>
    <textarea class="val" v-model="val" title=""></textarea>
</div>
</template>

<script>
import {fieldPrototype} from '../prototypes/fieldPrototype';
export default {
    mixins: [fieldPrototype]
}
</script>
