<template>
    <div class="field time">
        {{val}}
    </div>
</template>

<script>
import {fieldPrototype} from '../prototypes/fieldPrototype';
export default {
    mixins: [fieldPrototype]
}
</script>
