<template>
<div class="form-module" :class="styles.view">
    <div class="acts">
        <slot name="acts"></slot>
        <button @click="viewSwitch()" >{{viewState ? 'Edit' : 'View'}}</button>
        <div class="message" :class="styles.note">
            {{note.message}}Ошибка создания защищенного подключения
        </div>
    </div>
    <template v-for="(name, index) in dataKeys">
        <component
            :is="typeComponent(name)" :class="name"
            :params="paramsComponent(name)" v-model="dataSet[name]"
            :errors="dataErrors[`${entity}.${name}`]"
            :entity="entity"
            :key="index"
        ></component>
    </template>
</div>
</template>

<script>
export default {
    props: {
        entity: {type: String},
        dataSet: {type: Object},
        dataHint: {type: Object},
        dataErrors: {type: Object},
        note: {type: Object},
    },
    data(){return{
        dataKeys: Object.keys(this.dataSet),
        viewState: true
    }},
    methods: {
        typeComponent(name)
        {
            try
            {
                const type = this.dataHint[name].type;
                if (type) {
                    return `field-${this.dataHint[name].type}`;
                } else {
                    return null;
                }
            }
            catch (e)
            {
                console.log(`Data hint for field ${name} not found`);
            }
        },
        paramsComponent(name)
        {
            const params = {name};

            try
            {
                params.list = this.dataHint[name].list;
            } catch (e) {}

            return params;
        },
        viewSwitch() { this.viewState = !this.viewState },
    },
    computed: {
        styles: function () {
            let classes = {
                view: {'view': this.viewState}
            };

            // if (this.note.status) {
            //     cls.note[`s${this.note.status}`] = true;
            // }

            return classes;
        }
    }
}
</script>
