@import "colors"

@mixin content-place
    background-color: $clr-content-data
    box-shadow: 0 0 10px rgba(0,0,0,.1)

@mixin content-item()
    padding: 10px 10px 3px 10px
    background-color: $clr-content-item
    border: 1px solid $clr-content-border
    border-radius: 3px
    box-shadow: 0 0 5px rgba(0,0,0,.1)

@mixin content-item-has-title()
    margin: 5px 0 0 0
    background-color: $clr-content-item
    border: 1px solid $clr-content-border
    border-radius: 3px
    box-shadow: 0 0 5px rgba(0,0,0,.1)
    overflow: hidden
