=size($w, $h, $unit: 'px')
    width: #{$w}#{$unit}
    height: #{$h}#{$unit}

=size-square($size, $unit: 'px')
    width: $size
    height: $size

=size-ratio-h-16s9($w)
    width: #{$w}
    height: #{$w / (16/9) }

=size-adaptive
    max-width: 100%
    max-height: 100%
