@import "../../../sass/import";

.form-module.view {
    .field {
        &.name {
            input {
                border: none;
            }
            .lb {
                display: none;
            }
        }
        &.markdown {
            .lb {
                display: none;
            }
            .markdown-editor {
                display: none;
            }
        }
        &.props {
            display: none;
        }
        &.title {
            display: none;
        }
        &.note {
            display: none;
        }
        &.header {
            display: none;
        }
        &.slug {
            display: none;
        }
    } //field
}

.files-select {
    @include content-item;
    min-height: 120px;
    border: solid 1px $clr-f-red-opt;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &.dragover {
        background-color: beige;
    }
}

.image-view-cpm {
    @include content-item;
    margin: 5px 0 0 0;
    display: flex;
    .image-box {
        width: 288px;
        height: 162px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border-radius: 5px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

