<template>
    <div class="categories">
        <template v-for="category of categories">
            <div class="category">{{category}}</div>
        </template>
    </div>
</template>

<script>
export default {
    props: {
        categories:{type: Array},
    }
}
</script>
